#donate {
  background-color: yellow;
  color: black !important;
  border: 1px solid black;
  margin-left: 2vw;
}

h1 {
  margin-top: 2rem !important;
}

h1,
p {
  margin-left: 5px !important;
  font-family: "papyrus";
}

ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 20px;
}

p {
 line-height: 1rem;
 font-size: 0.6rem;
 white-space: nowrap;
}

img {
  margin-top: 1rem;
  width: 99vw;
  height: auto;
  margin-bottom: 5rem;
  border-radius: 15px;
}

@media only screen and (min-width: 768px) {
  
  p {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  img {
    width: 55vw;
    height: auto;
     margin-left: 20vw;
  }

  h1,
  p {
   padding-left: 20vw;
  }


}