<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
      <ion-button href="https://commerce.coinbase.com/checkout/14e93c6a-bdd0-4eff-befb-8a869b2d26bf" target="_blank"
        type="button" id="donate" data-toggle="tooltip" slot="end" data-placement="" title="Donate Bitcoin">Donate
      </ion-button>
      <ion-button href="https://www.amazon.com/gp/product/1792611633" target="_blank" type="button" id="donate"
        data-toggle="tooltip" slot="end" data-placement="" title="Donate Bitcoin">Buy Book
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="message">
  <h1>{{ message.title }}</h1>
  <p [innerHTML]="message.poem"></p>
  <img src="assets/images/{{message.img}}" alt=" Card image cap">
</ion-content>